extends ../layout

block content
     <div class="allcontain">
        <div class="feturedsection">
          <h1 class="text-center"><span class="bdots">&bullet;</span>OUR<span class="carstxt">PATIENTS</span>&bullet;</h1>
        </div>
   


        .row
            .col-sm-8
                h1=title
        
                table.table
                    thead
                        tr
                        th reference number
                        th Patient name
                        th Date 
                        th Partner name
                        th Status 
                        th view certificate
                    tbody
                        each product in products 

                            tr
                                td=product.name
                                td=product.price
                                td=product.date
                                td=product.category
                                td=product.status
                   
                                td  
                        
                                    a(href="/products/delete/"+product._id, class="btn btn-danger") Delete
                                    br
                                    a(href="/products/edit/"+product._id, class="btn btn-warning") Edit
                                    br
                                